@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');
.container{
  width: auto;
  height: 100vh;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-family: 'Chivo Mono', monospace;
}
.form_display_container{
  height: 100%;
  width: 100%;  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
}
h1{
  margin-inline:auto ;
  width: fit-content;
  height: fit-content;
}
.title{
  margin-inline:auto ;
}
.display_products{
  height: 100%;
  width: 100%;  
  overflow-y: scroll;
  background: radial-gradient(#358C2F 5%,transparent 60%);
}
@media screen and (max-width:840px) {
  *{
    font-size: 16px;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .table{
    margin-top: 3%;
  }

}